body {
  height: 100vh;
  background-color: blue !important;
  background-image: url("/public/no.jpeg");
  background-color: rgba(0, 0, 0, 0.5) !important;
}
img {
  width: 100vh;
  height: 100vh;
  z-index: -20;
}
